*{
    padding: 0;
    margin: 0;
}

img{
    width: 300px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-1{
    padding: 10px 0;
    background-color: rgba(255, 0, 0, 0.678);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    order: 4;
    align-self: flex-end;
}

.item-2{
    padding: 20px 0;
    background-color: rgba(0, 255, 200, 0.678);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    order: 3;
}

.item-3{
    padding: 50px 0;
    background-color: rgba(0, 255, 64, 0.678);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    order: 1;
}

.item-4{
    padding: 80px 0;
    background-color: rgba(255, 208, 0, 0.678);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    order: 2;
}